@model QuestPond.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body>
    <div>
        @using (@Html.BeginForm("Submit", "Customer"))    
        {
            <p>Customer Name</p> @Html.TextBoxFor(m => m.CustomerName)
            <br />
            @Html.ValidationMessageFor(x => x.CustomerName)
            <p>Customer Code</p> @Html.TextBoxFor(m => m.CustomerCode)
            <br />
            @Html.ValidationMessageFor(x => x.CustomerCode)
            <br />
            <input id="Submit1" type="submit" value="submit" />
            <br />
        }

        @*@Html.ValidationSummary()*@
    </div>
</body>

</html>
